<h1> Index </h1>

<% @messages.each do |messages| %>
  <h2><%= message.title %> </h2>
  <%= link_to "view message", message_path(message), class: "btn btn-default"%>
<% end %>

<%= link_to "New Message", new_message_path %>